@page "/pizzadelivery"
@rendermode InteractiveServer
<h3>PizzaDelivery</h3>
<h2>Pizza Crust</h2>
<PizzaCrust></PizzaCrust>
<h2>Pizza Toppings</h2>
<PizzaTop></PizzaTop>




@code {
    

}
